services:
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "3001:3001"
    networks:
      - app-net
    env_file:
      - ../.env
    environment:
      - AUTH_URL=http://auth:4000
      - CHAT_URL=http://chat:4001
      - GAME_URL=http://game:4002
      - SETTINGS_URL=http://settings:4003
      - STATS_URL=http://stats:4004
      - TOURNAMENTS_URL=http://tournaments:4005
      - USER_URL=http://user:4006
    volumes:
      - ../ssl/certs:/app/data/certs
      - sqlite_data:/app/data

  auth:
    build: ./auth
    user: "0:0"
    container_name: auth
    env_file:
      - ../.env
    networks:
      - app-net
    volumes:
      - sqlite_data:/app/data

  game:
    build: ./game
    container_name: game
    env_file:
      - ../.env
    networks:
      - app-net
    volumes:
      - sqlite_data:/app/data

  tournaments:
    build: ./tournaments
    user: "0:0"
    container_name: tournaments
    env_file:
      - ../.env
    networks:
      - app-net
    volumes:
      - sqlite_data:/app/data

  user:
    build: ./user
    container_name: user
    user: "0:0"
    env_file:
      - ../.env
    networks:
      - app-net
    volumes:
      - sqlite_data:/app/data

# --------------------------
# Réseau et Volume partagés
# --------------------------
networks:
  app-net:


volumes:
  transcendence-data:
  sqlite_data:
